extends layout

block content
  div(class="container-fluid")
    center
      br
      br
      br
      br
      br
      br
      br
      br
      h3 Twitter Rater
      h1 Please enter a name of a company or product
      form(method='POST' action = '/index')
        input( class="searchbar" type = 'text' name = "search" value = "search")

        input( class="searchbutton" type ='submit' name = 'Search')
      br
      br
      br
      br
      br
      br
      br
      br
