extends layout


block content
  div(class="container-fluid")
   center
    h1 Twitter Analyzer
    h2 Enter a Tag to add to the List:
      form(method='POST' action = '/index')
        input( class="searchbar" type = 'text' name = "search"  onclick="Cancelupdate()")

        input( class="searchbutton" type ='submit' name = 'Search')
        table(class="table")
         thead
          tr
           th Tweet
           th Most Similar Tweet
           th Amount of Changes Needed
